<article class="post">
  <a class="text-decoration-none text-dark" href="/post/{{id}}">
    <div class="title">
      {{title}}
    </div>
    <div class="meta">
      <div class="text">
        {{post_content}}
      </div>
      <br />
      by
      <p>{{user.username}}</p>

      on
      {{format_date createdAt}}

      <a href="/post/{{id}}">{{comments.length}}
        {{comments.length}}</a>
    </div>
  </a>

</article>